.class-1 {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}
.class-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: #f5f5f5;
    height: 36px;
    
}
.class-3 {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.class-4 {
    display: flex;
    align-items: center;
    
}
.class-5 {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    padding: 0 8px;
    
}
.class-6 {
    height: 15px;
    width: 1px;
    background-color: #e5e5e5;
    margin: 0 8px;
    
}
.class-7 {
    display: flex;
    height: 60px;
    justify-content: center;
    
}
.class-8 {
    display: flex;
    height: 60px;
    justify-content: center;
    place-items: center;
    background-color: #f5f5f5
}
.class-9 {
    font-size: 12px;
    
}
.class-10 {
    margin: 45px;
    
}
.class-11 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
.class-12 {
    text-decoration: none;
    color: #111;
    font-size: 15px;
    padding: 0 15px;
    font-weight: bold;
    
}
.class-13 {
    margin-top: 20px;
    
}
.class-14 {
    text-align: center;
    
}
.class-15 {
    font-size: 18px;
    font-weight: 400;
    
}
.class-16 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.class-17 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    
}
.class-18 {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    
}
.class-19 {
    display: flex;
    max-width: 100%;
    
}
.class-20 {
    max-width: 50%;
    width: auto;
    margin-right: 10px;
    
}
.class-21 {
    max-width: 50%;
    width: auto;
    
}